<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/shanghai.js"></script>

</head>
<body>
    <div id="78c7b263f7fa4ba5b0f82e597a43fca7" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_78c7b263f7fa4ba5b0f82e597a43fca7 = echarts.init(
            document.getElementById('78c7b263f7fa4ba5b0f82e597a43fca7'), 'white', {renderer: 'canvas'});
        var option_78c7b263f7fa4ba5b0f82e597a43fca7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u4e0a\u6d77",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u4e0a\u6d77",
            "data": [
                {
                    "name": "\u9ec4\u6d66",
                    "value": 80305
                },
                {
                    "name": "\u5f90\u6c47",
                    "value": 90880
                },
                {
                    "name": "\u957f\u5b81",
                    "value": 81281
                },
                {
                    "name": "\u9759\u5b89",
                    "value": 85249
                },
                {
                    "name": "\u666e\u9640",
                    "value": 65947
                },
                {
                    "name": "\u8679\u53e3",
                    "value": 67796
                },
                {
                    "name": "\u6768\u6d66",
                    "value": 79170
                },
                {
                    "name": "\u95f5\u884c",
                    "value": 66347
                },
                {
                    "name": "\u5b9d\u5c71",
                    "value": 46716
                },
                {
                    "name": "\u5609\u5b9a",
                    "value": 31430
                },
                {
                    "name": "\u6d66\u4e1c",
                    "value": 61883
                },
                {
                    "name": "\u91d1\u5c71",
                    "value": 19389
                },
                {
                    "name": "\u677e\u6c5f",
                    "value": 44043
                },
                {
                    "name": "\u9752\u6d66",
                    "value": 44129
                },
                {
                    "name": "\u5949\u8d24",
                    "value": 21428
                },
                {
                    "name": "\u5d07\u660e",
                    "value": 19044
                },
                {
                    "name": "\u4e0a\u6d77\u5468\u8fb9",
                    "value": 0
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e0a\u6d77"
            ],
            "selected": {
                "\u4e0a\u6d77": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u4e0a\u6d77\u5e02\u5730\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_78c7b263f7fa4ba5b0f82e597a43fca7.setOption(option_78c7b263f7fa4ba5b0f82e597a43fca7);
    </script>
</body>
</html>
